/**
 * @desc 热区图页面片工具，用于编辑热区并生成页面片
 * @author laserji
 * @mail jiguang1984#gmail.com
 * @date 2013-05-03
 */

*{margin: 0; padding: 0;}
ul{ list-style: none;}
body{font: 12px/1.5em arial;}
.clear { zoom: 1; }
.clear:after { content: ' '; display: block; clear: both; height: 0; visibility: hidden; }
.hota_wrap{padding: 20px;}
.hota_wrap h1{font: 40px \5FAE\8F6F\96C5\9ED1, "Microsoft YaHei"; color: #333; padding-bottom: 10px; margin-bottom: 20px; border-bottom: 2px solid #f0f0f0;}
.hota_wrap h1 a{font-style: normal; color: #BDC3C7; font-size: 14px; text-decoration: none;}
.tip{display: none; padding: 5px 10px; background-color: #FFFAE3; border: 1px solid #EACAA5; color: #333; margin-bottom: 15px;}
#msg_tip{float: left; }
.workshop{ min-width: 1225px; min-height: 100px;  overflow: hidden; *zoom:1;}
.hota_canvas{ float: left;border: 1px solid #BDC3C7; position: relative;}
.hota_canvas img{display: block;}
.hota_canvas a{position: absolute;height: 100px; width: 100px; /*background-color: rgba(0, 255, 0, 0.3);*/ background-color: #0f0; opacity: 0.3; filter: alpha(opacity=30); top: 10px; left: 10px; outline: none;}
.hota_canvas a.cur{/*background-color: rgba(255, 100, 100, 0.7);*/background-color: #f22; opacity: 0.7; filter: alpha(opacity=70);}
.hota_canvas a, .hota_canvas a:hover{text-decoration: none;}
.wrap{ -wekit-user-select: none; -mox-user-select: none;}
#msg{color: #666; line-height: 30px;}
.toolbar{zoom: 1; margin-bottom: 15px; margin-top: 15px;}
.toolbar:after { content: ' '; display: block; clear: both; height: 0; visibility: hidden; }
.toolbar h2{ font:bold 14px/1.5em \5FAE\8F6F\96C5\9ED1, "Microsoft YaHei"; color: #333; margin-bottom: 10px;}
.toolbar .help{ font: 12px/1.5em \5FAE\8F6F\96C5\9ED1; padding: 1px 5px; text-decoration: none; position: relative; top: -19px; left:1px; border-radius: 6px; border-bottom-left-radius: 0; background: #BDC3C7; color: #fff;}
.toolbar .help:hover{background: #16A085;}
.input{float:left; width: 500px; height: 24px; line-height: 24px; padding: 2px 10px; border: 1px solid #BDC3C7; }
.input[readonly='readonly']{color: #999; -webkit-user-select:none;}
.button{float: left; height: 24px; padding: 2px 15px; border: 1px solid #16A085; margin-right: 10px; text-align: center; color: #fff; background-color: #16A085; text-decoration: none; font: bold 14px/24px \5FAE\8F6F\96C5\9ED1, "Microsoft YaHei";}
.context_menu{display: none; width: 342px; height: 140px; padding: 10px; background-color: #f0f0f0; border: 1px solid #666;position: absolute; z-index: 100; box-shadow: 1px 1px 2px #999;}
.context_menu label{cursor: pointer; margin-right: 15px;}
.context_menu input[type="text"]{width: 260px; font-size: 14px;}
.context_menu input[type="radio"]{vertical-align: -2px; margin-left: 5px;}
.context_menu button{ margin-right: 10px; cursor: pointer;}
.context_menu .row{ margin-bottom: 10px;}
.context_menu .tit, .context_menu .cnt{ float: left;}
.context_menu .tit{width: 75px; }
.context_menu .cnt button{padding: 2px 4px; cursor: pointer;}
.area_info{display: none; padding: 4px 8px; color: #000; opacity: 0.9; font: bold 12px arial; position: absolute; z-index: 10;}
.h_line, .v_line{display: none; opacity: 0.8; background-color: #f00; position: absolute; z-index: 10; }
.h_line{ height: 1px; width: 100%;  left: 0;}
.v_line{ width: 1px; height: 100%; top: 0;}

.code{ overflow: hidden; margin-bottom: 15px;}
.code .code_copy{ float: left; }
.code .code_wrap{ display: block; width: 620px; height: 143px; font-size:  12px; padding: 10px; margin-bottom: 15px;  font-family: "courier new"; border: 1px solid #BDC3C7; resize: none;}
.code .page_info{ float: left; margin-right: 20px; height: 160px;}
.code .page_info label{display: block; margin-bottom: 15px; overflow: hidden; position: relative;}
.code .page_info .tit{height: 24px; width: 50px; padding: 2px 10px; line-height: 24px; position: absolute; top: 0; left: 0; color: #fff; border: 1px solid #BDC3C7; background: #BDC3C7; }
.code .page_info .input{display: block; width: 233px; padding-left: 80px; border: 1px solid #BDC3C7; background:#ECF0F1;}